// Page template Grid 



body:not(.home) .site {

    display: grid;
    grid-template-columns: 1fr 25vw;
    padding: 2rem;
    grid-gap: 50px;
    grid-template-rows: 10vh 40vh 20vh;

    .site-content {
        grid-row-start: 1;
        grid-row-end: span 4;
    }

    .site-header {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .site-footer {
        grid-column-start: 2;
        grid-row-start: 3;}
}