// Theme Colors

$primary-color: #4843b7;
$secondary-color: #6dcff6;
$light-color: #cdf8fe;

// Typos

$passion-font: 'Anton', Impact, Helvetica, sans-serif;
$copy-font: 'Roboto', Helvetica, Arial, sans-serif;
$copy-font-size: 1.8rem;

// Common Styles

body {
    background-color: $primary-color;
}

p {
    font-family: $copy-font;
    font-size: $copy-font-size;
}

li {
    font-family: $copy-font;
    color: $secondary-color;
    font-size: $copy-font-size;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $secondary-color;
    text-decoration: none;

    &:hover{
        color: white;
    }
}

a:visited {
    color: $secondary-color;
}