// Theme Colors

$primary-color: #4843b7;
$secondary-color: #6dcff6;
$light-color: #cdf8fe;

// Typos

@font-face {
	font-family: HelveticaNeueLTStd-BdCn;  
	src: url(./assets/webfonts/HelveticaNeueLTStd-BdCn.ttf);  
	font-weight: normal;  
}

$passion-font: 'HelveticaNeueLTStd-BdCn', Helvetica, sans-serif;
$copy-font: 'Roboto', Helvetica, Arial, sans-serif;
$DTcopy-font-size: 24px;  // Use for Copy on Desktop or Color Backgrounds
$MBcopy-font-size: 18px;  // Use for Copy on Mobile or Light Backgrounds
$DTheadingH1: 48px;
$MBheadingH1: 36px;
$DTheadingH3: 36px;
$MBheadingH3: 24px;

// Common Styles

body {
    background-color: $primary-color;
}

body:not(.home) .site-content {
    max-width: 1024px;
}

p {
    font-family: $copy-font;
    font-size: $DTcopy-font-size;
}

li {
    font-family: $copy-font;
    color: $secondary-color;
    font-size: $DTcopy-font-size;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $secondary-color;
    text-decoration: none;

    &:hover{
        color: white;
    }
}

a:visited {
    color: $secondary-color;
}